* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.merri-weather-font {
  font-family: "Merriweather", serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
.primary-color {
  color: #ff0000;
}
.banner-container {
  background: rgba(0, 0, 0, 0.3) url("../resources/BannerImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}
.banner-text-container {
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-text-container h4 {
  font-size: 25px;
}

.offer-container {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  font-family: "Inter", sans-serif;
}
.offer-container h1 {
  font-weight: bold;
  font-size: 35px;
}
.offer-container h3 {
  font-weight: 400;
  font-size: 16px;
}
.offer-container img {
  width: 50%;
}

.party-container {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
  background: url(../resources/Vectorrr.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}
.party-container div {
  flex: 1;
}
.party-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}
.party-text-container h1 {
  text-align: left;
  font-family: "Merriweather", serif;
  font-size: 40px;
  letter-spacing: 2px;
}
.party-text-container p {
  color: #ffffff;
  margin: 15px 0;
}
.party-text-container button {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
}
.party-image-container {
  display: flex;
  justify-content: flex-end;
}
.party-image-container img {
  width: 50%;
  height: 400px;
}
